<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Payments</title>
    <link rel="stylesheet" type="text/css" href="~/Content/core.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
  
    @Scripts.Render("~/bundles/modernizr")

    @*<style>
            /* body {
                font-family: "Lato", sans-serif;
            }*/

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #4682B4;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

                .sidenav a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #f1f1f1;
                    display: block;
                    transition: 0.3s;
                }

                    .sidenav a:hover {
                        color: #818181;
                    }
        </style>*@

    <script>
                    //function openNav() {
                    //    document.getElementById("mySidenav").style.width = "250px";
                    //}

                    //function closeNav() {
                    //    document.getElementById("mySidenav").style.width = "0";
                    //}
    </script>
</head>
<body class="login-page register-page form-page">
    <!--<div id="mySidenav" class="sidenav" style="width:15%">-->
    @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@

    <!--@Html.ActionLink("Account", "Demo", "Demo", new { area = "" })
        @Html.ActionLink("Currencies", "getCountriesAndCurrencies", "Demo", new { area = "" })


    </div>-->
    @*<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>*@


    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">


        <div class="container">
            @RenderBody()

            @*<footer>
                    <p>&copy; @DateTime.Now.Year - ESG Global</p>
                </footer>*@
        </div>
    </div>
    <script src="~/Scripts/core.js"></script>
  
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>

</html>